.main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(../../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.container {
  text-align: center;

  .start-text {
    position: relative;
    right: 10%;

    .start-button {
      margin-top: 3%;
    }
  }
}
